@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Mansalva|Oxygen&display=swap');


/** global element styling **/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #dbe9d8;
  font-family: 'Mansalva', cursive; 
}
#page-wrapper {
  position: relative;
}
li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  
}

/** global classes styling **/

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #dbe9d8;
  max-height: 200px;
}
@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}
.logo {
  width: 50vw;
}
@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}
.logo > img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}
@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}
nav > ul {
  width: 45vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
}
.nav-link{
  font-family: 'Mansalva', cursive; 
  font-size: 1.2rem;
}
@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
  .nav-link{
  font-family: 'Mansalva', cursive; 
  font-size: 1rem;
}
}
@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
   .quote{
    margin-top: 75px;
  }
}
#subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}
#subscription > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
}
@media (max-width: 880px) {
  #subscription {
    margin-top: 120px;
  }
  .nav-link{
  font-family: 'Mansalva', cursive; 
  font-size: 1.1rem;
}
  .quote{
    margin-top: 30px;
  }
}
@media (max-width: 650px) {
  #subscription {
    margin-top: 220px;
  }
}
@media (max-width: 500px) {
  #subscription {
    margin-top: 260px;
  }
}
.input-field{
  padding: 15px;
  margin: 2px;
  width: 280px;
  height: 30px;
  border: 1px solid #c0c0c0;
  border-radius: 8px;  
}
#submit{
  background-color: #2b2b2b;
  width: 140px;
  height:40px;
  border: 0px solid;
  border-radius: 4px;
  margin: 10px;
  color: white;
  font-size: 1.2rem;
}
.quote{
  text-align: center;
  margin-bottom:20px;
}
.inspiration{
  display:flex;
  flex-direction: row;
}
.inspiration > p{
  margin: 20px;
}
@media (max-width: 800px) {
 .inspiration{
  display:flex;
  flex-direction: column;
  }
  .video, .inspiration > p{
  display: flex;
  flex-direction: column;
  align-items: center;
   }
} 

.coding-sites{
  background-color: #c2d4d8; 
  padding: 20px 0 20px 0;
}
.coding-sites > h3{
  text-align: center;
  margin-bottom:20px;
  font-size: 1.4rem;
}
.coding-sites > ol{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-self: center;
}
.coding-sites > ol > li {
  justify-self: center;
  align-self: center;
  font-size: 1.4rem;
}
.coding-site{
  color: white;
}
footer {
  margin-top: 30px;
  background-color: #dbe9d8;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 650px) {
  .coding-sites > ol{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  justify-self: center;
}
}